
* {
  all: unset // Desconfigurar todo para estilizar todo desde cero
}

// Colores

$pink: #f5c2e7;
$red: #f38ba8;
$maroon: #eba0ac;
$green: #a6e3a1;
$teal: #94e2d5;
$blue: #89b4fa;
$lavender: #b7bdf8;
$text: #cdd6f4;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

// Es la ventana que contiene toda la barra

.catppuccin {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

// Es la caja que contiene a los modulos left, center y right. Cambiando su color de fondo se pueden "desacoplar" los módulos

.catppuccin_widget {
  background-color: $crust;
  //background-color: rgba(17, 17, 27, 0.6);
  //box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.8);
  color: $text;
}

.left_catppuccin {
  background-color: $crust;
  color: $text;
}

.center_catppuccin {
  background-color: $crust;
  color: $text;
}

.right_catppuccin {
  background-color: $crust;
  color: $text;
}

.xworkspaces_box {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
}

.active_xworkspace {
  background-color: $surface0;
  color: $text;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 0px 15px 0px 15px;
  border-radius: 0px;
}

.focused_xworkspace {
  background-color: $lavender;
  color: $surface1;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 0px 15px 0px 15px;
  border-radius: 0px;
}

// Widgets

.poweroff_button {
  background-color: $maroon;
  color: $mantle;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 12pt;
  padding: 5px 16px 5px 10px;
  border-radius: 0px;
}

.volume_box{
  background-color: $base;
  font-family: Iosevka NF;
  font-size: 17pt;
  padding: 0px 20px 0px 0px;
  border-radius: 0px;
}

.volume_box scale trough highlight { 
  all: unset;
  background-color: $maroon;
  border-radius: 10px;
}

.volume_box scale trough {
  all: unset;
  background-color: $surface1;
  min-height: 12px;
  min-width: 50px;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}

.filesystem_box {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 17pt;
  padding: 0px 20px 0px 0px;
  border-radius: 0px;
}

.filesystem_box scale trough highlight { 
  all: unset;
  background-color: $green;
  border-radius: 10px;
}

.filesystem_box scale trough {
  all: unset;
  background-color: $surface1;
  min-height: 12px;
  min-width: 50px;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}

.memory_box {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 14pt;
  padding: 0px 20px 0px 0px;
  border-radius: 0px;
}

.memory_box scale trough highlight { 
  all: unset;
  background-color: $blue;
  border-radius: 10px;
}

.memory_box scale trough {
  all: unset;
  background-color: $surface1;
  min-height: 12px;
  min-width: 50px;
  border-radius: 10px;
  margin: 0px 0px 0px 0px;
}

.spotify_button {
  background-color: $green;
  color: $surface0;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 14pt;
  padding: 0px 19px 0px 10px;
  border-radius: 0px;
}

.prev_button {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 18pt;
  padding: 0px 0px 0px 0px;
}

.play_pause_button {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 12pt;
  padding: 0px 0px 0px 0px;
}

.next_button {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 18pt;
  padding: 0px 10px 0px 12px;
}

.music_box {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 0px 10px 0px 10px;
}

.pcm_button {
  background-color: $surface0;
  color: $teal;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 14pt;
  padding: 0px 20px 0px 10px;
  border-radius: 0px;
}

.gaps_toggle {
  background-color: $teal;
  color: $surface0;
  font-family: Iosevka NF;
  font-size: 15pt;
  padding: 0px 19px 0px 13px;
  border-radius: 0px;
}

.no_gaps_button {
  font-size: 16pt;
  padding: 0px 17px 0px 0px;
}

.gaps_button {
  font-size: 16pt;
  padding: 0px 22px 0px 0px;
}

.date_box {
  background-color: $base;
  font-family: Iosevka NF;
  font-weight: bold;
  font-size: 11pt;
  padding: 0px 10px 0px 10px;
  border-radius: 0px;
}
